a {
  color: #242d60;
  margin: 15px 0;
  display: flex;
  padding: 10px 20px;
  box-shadow: 2px 2px 5px rgb(23 23 23 / 59%);
  border-radius: 5px;
  font-size: 20px;
  background: #72cedd;
  font-weight: 600;
}