* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  color: #fff;
  background: #242d60;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Helvetica Neue', 'Ubuntu', sans-serif;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stripe-button {
  all: unset;
  height: 36px;
  background: #556cd6;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.6;
  border-radius: 0 0 6px 6px;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgb(0 0 0 / 7%);
  &:hover {
    opacity: 0.8;
  }
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

@media only screen and (max-width: 600px) {
  .stripe-checkout,
  .stripe-elements {
    width: 90vw !important;
    margin: 0 5vw;
  }
}
