.stripe-checkout {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  border-radius: 6px;
  justify-content: space-between;

  .product {
    display: flex;
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  p {
    color: #242d60;
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  img {
    border-radius: 6px;
    margin: 10px;
    width: 54px;
    height: 54px;
  }
  h3,
  h5 {
    font-weight: 500;
    font-size: 16px;
    color: #242d60;
  }
  h5 {
    opacity: 0.5;
  }
}
